body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#main {
    flex: 1;
}

.footer {
    text-align: center;
    padding: 1rem 0;
}

.navbar {
    margin-bottom: 1rem;
}
