extends base.pug
block scripts
   script(src="../static/script.js")
block style
   link(rel="stylesheet", href="../static/About-us.css")
   link(rel="stylesheet", href="../static/style.css")
block content
   div#About_Us
      div.Left_Section
         img(src="../static/About-Us-1.png", alt="Error 404")
      div.Right_Section1
         h1 About Us
         p Welcome to the Skill for All Program by DS Logics, where we are committed to empowering individuals through cutting-edge IT education and skill development. Our mission is to provide high-quality, accessible, and industry-relevant technical training to diverse communities, ensuring that everyone, regardless of their background, has the opportunity to thrive in the digital world.
         p The Skill for All Program was founded by Dr. Shafiq Hussain, a visionary leader with a passion for education and community service. Dr. Hussain’s vision is to create an inclusive learning environment where individuals from all walks of life can acquire the technical skills they need to excel in today’s fast-paced world. With over 20 years of experience in the tech industry and education, Dr. Hussain is dedicated to making a positive impact on society through IT skill development.
         p Our program combines expert-led instruction with hands-on training, ensuring that students not only learn theory but also gain practical experience in real-world applications. Our curriculum is designed by industry professionals, focusing on the latest trends in technology, including web development, data analysis, artificial intelligence, and more.
      

