doctype html
html
  head
    title Shezo Educational Complex
    block style
      link(rel="icon", type="image/x-icon", sizes="128x128", href="../static/icon2.jpg")
    block scripts
  body
    nav#navbar
      div#navlogo
        a(href="/") 
          img(src="../static/navlogo1r.png", alt="Error 404")
      ul
        li
          a(href="/") Home
        li
          a(href="/") About Us
        li
          a(href="/Contact") Contact Us
        li
          a(href="/") Services
    div.row
        div.dropdown
            | Knowledge Vibes
            button
                img(src="../static/menu.png", alt="Error 404")
                span Courses
            div.dropdown-content
                a(href="#")
                    i 📚 Programming Languages
                    div.submenu
                        a(href="#") Python
                        a(href="#") C++
                        a(href="#") Java
                        a(href="#") Kotlin
                        a(href="#") VB.Net
                        a(href="#") Php 8
                        a(href="#") Java Script
                a(href="#")
                    i 💻 Web Development
                    div.submenu
                        a(href="#") Web Design Essential
                        a(href="#") Backend using PHP
                        a(href="#") Shopify Development
                        a(href="#") ECommerce App Development
                        a(href="#") Backend using Laravel
                        a(href="#") Web Application Development using CodeIgniter
                        a(href="#") Wordpress Development
                a(href="#")
                    i 🎨 Graphic Design    
                    div.submenu
                        a(href="#") Ui Ux
                        a(href="#") Software Branding
                        a(href="#") Adobe Illustrator
                        a(href="#") Digital Calligraphy
                        a(href="#") Adobe Photoshop
                a(href="#")
                    i 📈 Digital Marketing
                    div.submenu
                        a(href="#") Digital Marketing Complete
                        a(href="#") SEO
                        a(href="#") Social Media Marketing
                        a(href="#") Influencer Marketing
                        a(href="#") Affiliate Marketing
                a(href="#")
                    i ☁️ Cloud Computing
                    div.submenu
                        a(href="#") Cloud Computing Essentials
                a(href="#")
                    i 📱 Mobile Application Development
                    div.submenu
                        a(href="#") Mobile Apps
                        a(href="#") iOS Apps
                        a(href="#") Flutter App Development
                        a(href="#") React Native App Development
                a(href="#")
                    i 🤖 Artificial Intelligence
                    div.submenu
                        a(href="#") Artificial Intelligence
                        a(href="#") Machine Learning
                        a(href="#") Deep Learning
                        a(href="#") Data Science & Big Data
                        a(href="#") Robotics
                a(href="#")
                    i 🔒 Cybersecurity
                    div.submenu
                        a(href="#") Digital Forensics
                        a(href="#") Cybersecurity Essentials
                a(href="#")
                    i 🗄️ Database Administration
                    div.submenu
                        a(href="#") Mongo DB
                        a(href="#") Oracle
                        a(href="#") SQL Server
                        a(href="#") NoSQL
                        a(href="#") MySQL Database
                a(href="#")
                    i 🛒 eCommerce
                    div.submenu
                        a(href="#") Daraz
                        a(href="#") Shopify
                        a(href="#") Amazon
                        a(href="#") eBay
                        a(href="#") Sasta Mall
    block content
    block footer 
    footer
      //- | Copy Right @ 2024 wwwshezoeducationalcomplex.com | All rights reserved
      div#footer_section1
        div.footer_card1
          h1.main_title Knowledge Vibes
          p Welcome to our Knowledge Vides Program Learning Management System, where innovation meets education and aspirations to find a home.
        div.footer_card1
          h3 Top Categories
          ul 
            li 
              a(href="/") Web Design Essentials
            li 
              a(href="/") Backend using Laravel
            li 
              a(href="/") Java
            li 
              a(href="/") Fiverr & Upwork
            li 
              a(href="/") Digital Marketing
            li 
              a(href="/") Microsoft Office
            li 
              a(href="/") Amazon 
        div.footer_card1
          h3 Useful Links
          ul
            li 
              a(href="/") Become an instructor
              li 
                a(href="/") Blog
              li 
                a(href="/") All courses
              li 
                a(href="/") Sign up
        div.footer_card1
          h3 Help
          ul
            li 
              a(href="/Contact") Contact us
              li 
                a(href="/") About us
              li 
                a(href="/") Privacy policy
              li 
                a(href="/") Terms and condition
              li 
                a(href="/") Faq
              li 
                a(href="/") Refund policy
      
