extends base.pug

block scripts
    script(src="../static/Courses.js")
block style
    link(rel="stylesheet", href="../static/style.css")
    link(rel="stylesheet", href="../static/Courses.css") 
block content
    div#AllCourses
        h1 All Courses
        p Select a course from the dropdown to see details here.
