extends base.pug
block scripts
block style
    link(rel="stylesheet", href="../static/style.css")
    link(rel="stylesheet", href="../static/Services.css")
block content
    h1#Our_Services Our Services
    div#Services_Container
      
      div.Services_Container_card
        
        div.card-image
           img(src="../static/Card-image 1.jpg", alt ="Error 404")
        h4 Microsoft Office Management
        p Master essential office management and administration skills using Microsoft Office tools. This course covers key functionalities in Word, Excel, and Outlook, enabling efficient document handling, data organization, and communication for smooth office operations.
      
      div.Services_Container_card
        div.card-image
           img(src="../static/Card-image 12.jpg", alt ="Error 404")
        h4 Advanced Oop Usinf Java Course
        p Dive deep into advanced object-oriented programming with Java. This course covers design patterns, multi-threading, and best practices for building scalable and maintainable applications. Ideal for intermediate Java developers.
      
      div.Services_Container_card
        div.card-image
           img(src="../static/Card-image 2.jpg", alt ="Error 404")
        h4 FYP Consultation and Supervision
        p Gain guidance and support for your Final Year Project (FYP) through expert consultation and supervision. This course provides resources, strategies, and mentorship to help you successfully complete and present your project.

      
      div.Services_Container_card
        div.card-image
           img(src="../static/Card-image 3.jpg", alt ="Error 404")
        h4 Mobile Application Development
        p Learn to design, build, and deploy mobile applications from scratch. This course covers Android, UI/UX design, and essential coding skills, equipping you to create functional, user-friendly mobile apps.

      div.Services_Container_card
        div.card-image
           img(src="../static/Card-image 4.jpg", alt ="Error 404")
        h4 Digital Marketing Essential Course
        p Master the essentials of digital marketing with this comprehensive course. Learn strategies for SEO, social media, email marketing, and more to drive traffic, boost engagement, and grow your online presence.
      

      div.Services_Container_card
        div.card-image
           img(src="../static/Card-image 5.jpg", alt ="Error 404")
        h4 Shopify store Essentials Course
        p Learn to create, manage, and grow a Shopify store with this beginner-friendly course. From store setup and product listings to design and marketing, gain the essential skills to build a successful e-commerce business on Shopify.
      
      div.Services_Container_card
        div.card-image
           img(src="../static/Card-image 6.jpg", alt ="Error 404")
        h4 Amazon - FBA Entrepreneurship
        p Learn the essentials of Amazon FBA (Fulfillment by Amazon) and start your e-commerce business. This course covers everything from product selection and sourcing to listing optimization, inventory management, and growing your Amazon sales.

      div.Services_Container_card
          div.card-image
              img(src="../static/Card-image 7.jpg", alt ="Error 404")
          h4 Freelancing using Fiverr & Upwork
          p This beginner-friendly course will help you kickstart your freelancing career. You will discover essential freelancing skills, from finding clients to managing projects and setting rates, helping you build a successful freelance business.

      div.Services_Container_card
        div.card-image
           img(src="../static/Card-image 8.jpg", alt ="Error 404")
        h4 Backend Web Development Using Laravel
        p DS LMS presents the Laravel for Absolute Beginners course, designed for individuals lacking prior coding experience. This course offers a meticulous introduction to web development utilizing the Laravel framework, covering foundational principles, dynamic web application creation.
        
      div.Services_Container_card
        div.card-image
           img(src="../static/Card-image 9.jpg", alt ="Error 404")
        h4 Frontend Development for Absolute Beginners
        p This course offers practical training in frontend web development, covering essential skills such as HTML, CSS, Bootstrap 5, JavaScript, and theme design. Perfect for beginners, you'll learn to build responsive, visually appealing websites from the ground up.
      
      div.Services_Container_card
        div.card-image
           img(src="../static/Card-image 10.jpg", alt ="Error 404")
        h4 C++ Programming Fundamentals
        p Master the fundamentals of C++ programming with this beginner-friendly course. Learn essential concepts like syntax, object-oriented programming, and memory management. Perfect for aspiring software developers, this course will equip you to build high-performance applications.

      div.Services_Container_card
        div.card-image
           img(src="../static/Card-image 11.jpg", alt ="Error 404")
        h4 Python Programming Fundamentals
        p Learn Python programming from scratch with this comprehensive beginner-friendly course. Master Python syntax, functions, and object-oriented programming. Build real-world applications and gain essential coding skills for web development, data science, automation, and more.

      