*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#About_Us
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 650px;
    margin-top: 73px;
}
#About_Us .Left_Section
{
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}
#About_Us .Left_Section img{
    width: 80%;
    height: 80%;
}
#About_Us .Right_Section1
{
    width: 48%;
    border:2px solid #dedede4a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.Right_Section1 p, .Right_Section1 h1
{
 padding: 23px 23px;
 line-height: 1.7rem;
}