*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#Our_Services
{
  text-align: center;
}
#Services_Container{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    margin-top: 8rem;
  }
  
.Services_Container_card {
    width: 300px;
    height: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    text-align:start;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Services_Container_card img
  {
    height: 91%;
    width: 243px;
  }